<section >
  <div class="col-sm-12 text-center">
    <h3 class="heading">Popular Jobs</h3>
  </div>
  <div class="row m-sm-2 p-sm-2 m-md-4 p-md-4 m-lg-5 m-lg-5">
    <div
      *ngFor="let card of cards"
      class="col-md-3 m-md-4 text-center category-box"
    >
      <a class="m-md-4">
        <div class="category-box-icon">
          <i class="{{ card.icon }}"></i>
        </div>
        <div class="category-box-counter">{{ card.counter }}</div>
        <div class="category-box-content">
          <h3>{{ card.category }}</h3>
          <p>{{ card.description }}</p>
        </div>
      </a>
    </div>
  </div>
</section>
<section>
  <div class="row text-center">
    <h3 class="heading">Featured Jobs</h3>
    <div class="row offset-md-1">
      <div class="col-md-9">
        <a class="job-listing with-apply-button">
          <div class="row job-listing-details">
            <div class="col-sm-1">
              <div class="job-listing-company-logo">
                <img
                  src="assets/images/company-logo-01.png"
                  width="70"
                  alt="job image"
                />
              </div>
            </div>
            <div class="col-sm-9 px-4">
              <div class="d-flex flex-start">
                <h3 class="job-listing-title">
                  Bilingual Event Support Specialist
                </h3>
              </div>
              <div class="row">
                <div class="col-sm-11">
                  <div class="d-flex flex-start job-listing-footer">
                    <ul>
                      <li>
                        <i class="fa-regular fa-building"></i> Hexagon
                        <!-- <div
                          class="verified-badge"
                          title="Verified Employer"
                          data-tippy-placement="top"
                        ></div> -->
                      </li>
                      <li>
                        <i class="fa-solid fa-location-dot"></i> San Francissco
                      </li>
                      <li><i class="fa-solid fa-briefcase"></i> Full Time</li>
                      <li><i class="fa-regular fa-clock"></i> 2 days ago</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-2 pt-4">
              <button class="btn">Apply Now</button>
            </div>
          </div>
        </a>
        <a class="job-listing with-apply-button">
          <div class="row job-listing-details">
            <div class="col-sm-1">
              <div class="job-listing-company-logo">
                <img
                  src="assets/images/company-logo-01.png"
                  width="70"
                  alt="job image"
                />
              </div>
            </div>
            <div class="col-sm-9 px-4">
              <div class="d-flex flex-start">
                <h3 class="job-listing-title">
                  Bilingual Event Support Specialist
                </h3>
              </div>
              <div class="row">
                <div class="col-sm-11">
                  <div class="d-flex flex-start job-listing-footer">
                    <ul>
                      <li>
                        <i class="fa-regular fa-building"></i> Hexagon
                        <!-- <div
                          class="verified-badge"
                          title="Verified Employer"
                          data-tippy-placement="top"
                        ></div> -->
                      </li>
                      <li>
                        <i class="fa-solid fa-location-dot"></i> San Francissco
                      </li>
                      <li><i class="fa-solid fa-briefcase"></i> Full Time</li>
                      <li><i class="fa-regular fa-clock"></i> 2 days ago</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-2 pt-4">
              <button class="btn">Apply Now</button>
            </div>
          </div>
        </a>
        <a class="job-listing with-apply-button">
          <div class="row job-listing-details">
            <div class="col-sm-1">
              <div class="job-listing-company-logo">
                <img
                  src="assets/images/company-logo-01.png"
                  width="70"
                  alt="job image"
                />
              </div>
            </div>
            <div class="col-sm-9 px-4">
              <div class="d-flex flex-start">
                <h3 class="job-listing-title">
                  Bilingual Event Support Specialist
                </h3>
              </div>
              <div class="row">
                <div class="col-sm-11">
                  <div class="d-flex flex-start job-listing-footer">
                    <ul>
                      <li>
                        <i class="fa-regular fa-building"></i> Hexagon
                        <!-- <div
                          class="verified-badge"
                          title="Verified Employer"
                          data-tippy-placement="top"
                        ></div> -->
                      </li>
                      <li>
                        <i class="fa-solid fa-location-dot"></i> San Francissco
                      </li>
                      <li><i class="fa-solid fa-briefcase"></i> Full Time</li>
                      <li><i class="fa-regular fa-clock"></i> 2 days ago</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-2 pt-4">
              <button class="btn">Apply Now</button>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
