<section id="job-cards" class="mt-4">
  <div class="col-sm-12 text-center">
    <h3 class="heading">Popular Jobs</h3>
  </div>
  <div class="row m-3 p-2 m-md-4 p-md-4 m-lg-5 m-lg-5 justify-content-center">
    <!-- Added justify-content-center class -->
    <div
      *ngFor="let card of cards"
      class="col-md-3 col-sm-12 m-4 p-3 m-md-4 text-center category-box"
    >
      <a class="m-md-4">
        <div class="category-box-icon">
          <i class="{{ card.icon }}"></i>
        </div>
        <div class="category-box-content">
          <h3>{{ card.category }}</h3>
          <p>{{ card.description }}</p>
        </div>
      </a>
    </div>
  </div>
</section>

<section id="popular-freelancer" *ngIf="freelancers" class="mt-5">
  <div class="row">
    <div class="col-sm-12 text-center mb-4">
      <h3 class="heading2">Highest Rated Freelancers</h3>
    </div>
    <div class="col-xl-12">
      <p-carousel
        [value]="freelancers"
        [numVisible]="3"
        [numScroll]="1"
        [circular]="true"
        [responsiveOptions]="responsiveOptions"
      >
        <ng-template let-freelancer pTemplate="item">
          <div class="freelancers-container m-auto">
            <!--Freelancer -->
            <div class="freelancer">
              <!-- Overview -->
              <div class="freelancer-overview">
                <div class="freelancer-overview-inner">
                  <div class="freelancer-avatar">
                    <img
                      src="data:image/jpeg; base64,{{
                        freelancer.seller?.user?.profilePicture
                      }}"
                      alt="freelancer image"
                    />
                  </div>

                  <div class="freelancer-name">
                    <h4>
                      {{ freelancer.seller?.firstName }}
                      {{ freelancer.seller?.lastName }}
                      <img width="20" height="20" src="{{freelancer?.flag}}" alt="flag img">

                    </h4>
                    <span>{{ freelancer.seller?.jobName }}</span>
                  </div>
                  <div class="d-flex flex-row mx-5 my-2">
                    <div class="rating-num">
                      {{freelancer.rating}}
                    </div>
                    <p-rating
                    [(ngModel)] = "freelancer.rating"
                    [cancel]="false"
                    [readonly]="true"
                  ></p-rating>
                  </div>

                </div>
              </div>

              <!-- Details -->
              <div class="freelancer-details">
                <div class="freelancer-details-list">
                  <ul>
                    <li >
                      Location
                      <strong
                        ><i class="fa-solid fa-location-dot"></i>
                        {{ freelancer.seller?.location }}</strong
                      >
                    </li>
                    <li >
                      Success
                      <strong>
                        {{freelancer.success}} %
                      </strong>
                    </li>
                  </ul>
                </div>
                <button
                  (click)="freelancerProfile(freelancer?.id)"
                  class="btn btn-success"
                >
                  View Profile <i class="fa-solid fa-id-card"></i>
                </button>
              </div>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>
</section>
