<div class="dashboard-sidebar sticky">
  <div class="dashboard-sidebar-inner" data-simplebar>
    <div class="dashboard-nav-container">
      <div class="dashboard-nav">
        <div class="dashboard-nav-inner">
          <ul>
            <li><a routerLink="/seller-dashboard"><i class="fa-solid fa-rectangle-list"></i>  Dashboard</a></li>
            <li><a routerLink="/seller-dashboard/messages"><i class="fa-solid fa-comments"></i> Messages</a></li>
            <li><a routerLink="/seller-dashboard/orders"><i class="fa-solid fa-briefcase"></i> Orders </a></li>
          </ul>
          <ul data-submenu-title="Organize and Manage">
            <li><a routerLink="/home/job-list"> Jobs</a></li>
            <li><a routerLink="/seller-dashboard/files"> Files</a></li>
          </ul>
        </div>
      </div>
      <!-- Navigation / End -->

    </div>
  </div>
</div>
