<section class="faq margin-top">
  <div class="row text-center">
    <h1>FAQs</h1>
  </div>
  <div class="row m-3">
    <div class="col-md-8 offset-md-2">
      <p-accordion [activeIndex]="0">
        <p-accordionTab header="What is LawTasks.pro?">
          <p>
            LawTasks.pro is a first-of-its-kind competitive online marketplace, where qualified attorneys offer
            commonly-requested legal services (LawTasks) on a flat-rate, “buy-now” basis. You can find and hire an
            attorney to complete your LawTask based on price, user ratings, and profile information, communicate
            privately with your attorney, and safely pay for your LawTask, all on our secure platform.
          </p>
        </p-accordionTab>
        <p-accordionTab header="
      Is LawTasks.pro a law firm or legal services provider?
      ">
          <p>
            No. LawTasks.pro is an online marketplace where attorneys offer their legal services, but LawTasks.pro is
            not a provider of legal services. If you hire an attorney through LawTasks.pro, you are forming an
            attorney-client relationship with that attorney, not with LawTasks.pro.
          </p>
        </p-accordionTab>
        <p-accordionTab header="What is a LawTask?">
          <p>

            A LawTask is a one-off legal service that can be completed quickly and for a reasonable flat rate. Examples
            of LawTasks include drafting or reviewing a contract, writing a legal letter, preparing a will, forming a
            company, or filing a trademark application. LawTasks do not include long, drawn-out matters such as
            lawsuits, which do not lend themselves to prompt resolution or flat-rate work.
          </p>
        </p-accordionTab>
        <p-accordionTab header="What kinds of legal work can I get done on LawTasks.pro?">
          <p>
            Examples of LawTasks include drafting or reviewing a contract, writing a legal letter, preparing a will,
            forming a
            company, or filing a trademark application. If you have a specific LawTask in mind that you don’t see listed
            on the
            site, you can post a description of what you need done and have attorneys submit proposals to perform the
            work.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Why should attorneys offer their services on LawTasks.pro?">
          <p>

            LawTasks.pro is a fantastic way to attract more clients and grow your practice. When a client is happy with
            a LawTask
            you perform, that client is likely to return to you time and again for more complex matters. For example, a
            client who
            hires you on LawTasks.pro to write a letter about a dispute is highly likely to come back to you should that
            dispute
            become a litigation matter. And unlike other freelance websites, LawTasks.pro does not restrict attorneys
            and clients
            from communicating and working together outside the platform.
          </p>
        </p-accordionTab>
        <p-accordionTab header="
        Where is LawTasks.pro available?">
          <p>

            LawTasks.pro is currently available in all United States jurisdictions.
          </p>
        </p-accordionTab>
        <p-accordionTab header="
        Can attorneys and clients who meet on LawTask.pro work together on future legal matters outside the platform?">
          <p>
            Yes! We hope and expect that attorneys and clients who meet on LawTasks.pro will form long-term
            attorney-client
            relationships and work together on future legal matters outside the platform.
          </p>
        </p-accordionTab>
        <p-accordionTab header="Does LawTasks.pro take a percentage of the fee for each LawTask?">
          <p>

            Nope. Attorneys who provide services on LawTasks.pro keep 100% of the fees they charge.
          </p>
        </p-accordionTab>
        <p-accordionTab header="
        As an attorney, am I permitted to use LawTasks.pro under my State’s rules of professional responsibility?">
          <p>
            We think so, but it’s up to you to check. We’ve designed LawTasks.pro to be compliant with the ABA Model
            Rules of
            Professional Conduct. In particular, we are careful to ensure compliance with ABA model rule 5.4 by not
            sharing in any
            portion of the fees attorneys charge on the platform and by not doing anything else intended to direct or
            affect any
            attorney’s independent professional judgment. But attorneys should check their own jurisdictions’ rules of
            professional
            conduct to ensure their use of LawTasks.pro complies.
          </p>
        </p-accordionTab>
        <p-accordionTab header="
        How does LawTasks.pro vet attorneys on the platform?">
          <p>

            We vet each attorney who seeks to join LawTasks.pro by manually checking to ensure they’re licensed to
            practice law in
            their jurisdiction and are a member in good standing of their State’s Bar.

          </p>
        </p-accordionTab>

      </p-accordion>
    </div>
  </div>

</section>
