<header id="header-container" class="fullwidth">
  <!-- Header -->
  <div id="header">
    <div class="container">
      <!-- Left Side Content -->
      <div class="left-side">
        <!-- Logo -->
        <div id="logo">
          <a class="disabled-link-hover"><img src="assets/images/logo.png" alt="logo picture" /></a>
        </div>

        <!-- Main Navigation -->
        <nav id="navigation">
          <ul id="responsive">
            <li><a routerLink="/home" class="current">Home</a></li>
            <li *ngIf="role=='SELLER'"><a routerLink="/seller-dashboard">For Employers</a></li>
            <li *ngIf="role=='USER'"><a routerLink="messages">Messages</a></li>
            <li *ngIf="isAdmin==true"><a href="/admin-dashboard">Dashboard</a></li>
            <li *ngIf="role=='SELLER'"><a routerLink="/home/job-list">My Jobs</a></li>
            <li *ngIf="role=='USER'"><a routerLink="/home/order">Orders</a></li>
            <li *ngIf="role=='USER'"><a routerLink="/home/files">Files</a></li>
            <li *ngIf="check == undefined else other">
              <a routerLink="/login"> Login </a>
            </li>
            <ng-template #other>
              <li *ngIf="role=='USER'">
              <a routerLink="/home/seller-request"> Become Seller </a>
            </li>
            </ng-template>
          </ul>
        </nav>
        <div class="clearfix"></div>
        <!-- Main Navigation / End -->
      </div>
      <!-- Left Side Content / End -->

      <!-- Right Side Content / End -->
      <div *ngIf="check!=undefined" class="right-side">
        <!-- User Menu -->
        <div class="header-widget">
          <div class="header-notifications user-menu">
            <div class="header-notifications-trigger">
              <a class="disabled-link-hover"
                ><div class="user-avatar status-online">
                  <img
                    src="data:image/jpeg; base64, {{userResponse.profilePicture}}"
                    alt="profile picture"
                  /></div
              ></a>
            </div>

            <div class="header-notifications-dropdown">
              <div class="user-status">
                <div class="user-details">
                  <div class="user-avatar status-online">
                    <img width="50" height="50" src="data:image/jpeg; base64, {{userResponse.profilePicture}}" alt="profile image" />
                  </div>
                  <div class="user-name">{{userResponse?.userName}}</div>
                </div>

                <!-- <div class="status-switch" id="snackbar-user-status">
                  <label class="user-online current-status">Online</label>
                  <span class="status-indicator" aria-hidden="true"></span>
                </div> -->
              </div>

              <ul class="user-menu-small-nav">
                <li>
                  <button (click)="logOut()"
                    ><i class="icon-material-outline-power-settings-new"></i>
                    Logout</button>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <span class="mmenu-trigger">
          <button class="hamburger hamburger--collapse" type="button" (click)="showSideBar()">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </button>
        </span>
      </div>
      <!-- Right Side Content / End -->
    </div>
  </div>
  <!-- Header / End -->
</header>
<p-sidebar class= "col-md-2 d-sm-block d-md-none mt-md-2" [(visible)]="sidebarVisible" position="left" [blockScroll]="false" >
  <nav id="navigation d-flex flex-column">
    <ul id="d-flex flex-column">
      <h1>Navigation</h1>
      <li><a routerLink="/home" class="current">Home</a></li>
      <li *ngIf="role=='SELLER'"><a routerLink="/seller-dashboard">For Employers</a></li>
      <li *ngIf="role=='USER'"><a routerLink="messages">Messages</a></li>
      <li *ngIf="isAdmin==true"><a href="/admin-dashboard">Dashboard</a></li>
      <li *ngIf="role=='SELLER'"><a routerLink="/home/job-list">My Jobs</a></li>
      <li *ngIf="role=='USER'"><a routerLink="/home/order">Orders</a></li>
      <li *ngIf="role=='USER'"><a routerLink="/home/files">Files</a></li>
      <li *ngIf="check == undefined else other">
        <a routerLink="/login"> Login </a>
      </li>
      <ng-template #other>
        <li *ngIf="role=='USER'">
        <a routerLink="/home/seller-request"> Become Seller </a>
      </li>
      </ng-template>
    </ul>
  </nav>
</p-sidebar>
<div class="clearfix"></div>
