.job-done-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.job-done-button i {
  margin-right: 8px;
}

 ::ng-deep .p-rating:not(.p-disabled):not(.p-readonly) .p-rating-icon:hover {
  color: #4CAF50;
}

::ng-deep .p-rating .p-rating-icon.pi-star-fill {
  color:#4CAF50;
}
.error-message{
  color:red;

}
.container{
  width: 500px;
}
textarea{
  border:1px solid black;
}
