<section class="container">
  <!-- Dashboard Content
	================================================== -->
  <div class="dashboard-content-container" data-simplebar>
    <div class="dashboard-content-inner">
      <div class="dashboard-headline">
        <h3>{{ admin.userName }} !</h3>
      </div>

      <!-- Fun Facts Container -->
      <div class="fun-facts-container row">
        <div class="col-md-4">
          <div class="fun-fact">
            <div class="fun-fact-text">
              <span>Total Users</span>
              <h4>{{ info.users !== null && info.users! ==undefined ? info?.users :0}}</h4>
            </div>
            <div class="fun-fact-icon">
              <i class="fas fa-user" style="color: #7fff00"></i>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="fun-fact">
            <div class="fun-fact-text">
              <span>Total Sellers</span>
              <h4>{{ info.sellers !== null && info.sellers! ==undefined ? info?.sellers :0}}</h4>
            </div>
            <div class="fun-fact-icon">
              <i class="fas fa-shop" style="color: #b81b7f"></i>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="fun-fact">
            <div class="fun-fact-text">
              <span>Total Jobs</span>
              <h4>{{ info.jobs !== null && info.jobs! ==undefined ? info?.jobs :0 }}</h4>
            </div>
            <div class="fun-fact-icon">
              <i class="fas fa-cart-shopping" style="color: #efa80f"></i>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="fun-fact" >
            <div class="fun-fact-text">
              <span>Total Revenue</span>
              <h4>{{ info.income !== null && info.income! ==undefined ? info?.income :0 | currency : "USD" }}</h4>
            </div>
            <div class="fun-fact-icon">
              <i class="fa-solid fa-sack-dollar" style="color: #00ff00"></i>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="fun-fact" >
            <div class="fun-fact-text">
              <span>Dew Dropper Subscriptions</span>
              <h4>{{info.dewDropper !== null && info.dewDropper! ==undefined ? info?.dewDropper :0}}</h4>
            </div>
            <div class="fun-fact-icon">

              <i class="fa-solid fa-star" style="color:#E7D5A2;"></i>

            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="fun-fact" >
            <div class="fun-fact-text">
              <span>Sprinkle Subscriptions</span>
              <h4>{{ info.sprinkle !== null && info.sprinkle! ==undefined ? info?.sprinkle :0}}</h4>
            </div>
            <div class="fun-fact-icon">
              <i class="fa-solid fa-star" style="color:#B5BEC2;"></i>
              <i class="fa-solid fa-star" style="color:#B5BEC2;"></i>
            </div>
          </div>

        </div>
        <div class="col-md-4">
          <div class="fun-fact" >
            <div class="fun-fact-text">
              <span>Rainmake Subscriptions</span>
              <h4>{{ info.rainmaker !== null && info.rainmaker! ==undefined ? info?.rainmaker :0}}</h4>
            </div>
            <div class="fun-fact-icon">
              <i class="fa-solid fa-star" style="color:#FBCD29;font-size:20px"></i>
              <i class="fa-solid fa-star" style="color:#FBCD29;font-size:20px;"></i>
              <i class="fa-solid fa-star" style="color:#FBCD29;font-size:20px;"></i>
            </div>
          </div>
        </div>
        <div class="col-8">
          <p-chart type="bar" [data]="data" [options]="options"></p-chart>
        </div>
        <div class="col-8 mt-5">
          <p-chart type="bar" [data]="sellerInfo" [options]="options"></p-chart>
        </div>
      </div>
    </div>
  </div>
</section>
