
  <section id="intro-section">
    <div class="row">
      <div class="col-md-12">
        <div class="intro-headline margin-top text-center">
          <h2>
            <strong>Quality Legal Work ,<br> Affordable Flat Rates.</strong>
          </h2>
        </div>
      </div>
    </div>
    <div class="row mx-auto">
      <div class="col-sm-7 mx-auto">
        <div class="search-form p-2">
          <form [formGroup]="searchForm" class="row" (ngSubmit)="onSubmit()">
            <span class="col-sm-9 d-flex flex-row">
              <i class="fa-solid fa-magnifying-glass"></i>
              <input type="text" placeholder="What type of legal services do you need done today?" formControlName="category" />
            </span>
            <button class="col-sm-1 mx-auto btn btn-success" >Search</button>
          </form>

        </div>
      </div>
    </div>
  </section>

