
  <section class="row" id="intro-section">
    <div class="row">
      <div class="col-md-12">
        <div class="intro-headline">
          <h3>
            <strong>Hire experts or be hired for any job, any time.</strong>
            <br />
            <span>Thousands of small businesses.</span>
            <br />
            <span>Turn your ideas into reality.</span>
          </h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-9 offset-sm-1">
        <div class="search-form p-2">
          <form class="row">
            <span class="col-sm-5 d-flex flex-row">
              <i class="fa-solid fa-location-dot"></i>
              <input type="text" placeholder="Location"  />
            </span>
            <span class="col-sm-5 d-flex flex-row">
              <i class="fa-solid fa-location-dot"></i>
              <input type="text" placeholder="Jobs"  />
            </span>
            <button class="col-sm-2 btn btn-primary" >submits</button>
          </form>

        </div>
      </div>
    </div>
    <div class="row">
			<div class="col-sm-6 offset-sm-1">
				<ul class="intro-stats">
					<li>
						<strong class="counter">1,586</strong>
            <br>
						<span>Jobs Posted</span>
					</li>
					<li>
						<strong class="counter">3,543</strong>
            <br>
						<span>Tasks Posted</span>
					</li>
					<li>
						<strong class="counter">1,232</strong>
            <br>
						<span>Freelancers</span>
					</li>
				</ul>
			</div>
		</div>
  </section>

