<section class="row margin-top">
  <p-toast position="bottom-right"></p-toast>

  <ng-container *ngIf="isUsers; else nouser">
    <aside
      class="col-md-3 d-none d-md-block userbar"
      style="padding-right: 0px"
    >
      <div class="messages-inbox">
        <ul class="user-list">
          <li *ngFor="let user of users">
            <a
              id="{{ user.sender.userName }}"
              pBafe
              (click)="selectUser(user)"
              [ngStyle]="{
                background: selectedUser === user.receiver ? '#f0f0f0' : 'none'
              }"
            >
              <div class="message-avatar">
                <i class="status-icon status-online"></i>
                <img
                  src="data:image/jpeg; base64, {{
                    user?.sender.profilePicture
                  }}"
                  alt="profile Image"
                />
              </div>
              <div class="message-by">
                <div class="message-by-headline">
                  <ng-container *ngIf="user.unRead != 0; else nomessage">
                    <h5>
                      {{ user?.sender.userName }}
                    </h5>
                    <p-tag value="{{ user.unRead }}" severity="success"></p-tag>
                  </ng-container>
                  <ng-template #nomessage>
                    <h5>
                      {{ user?.sender.userName }}
                    </h5>
                  </ng-template>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </aside>
    <div class="chat-screen col-sm-12 col-md-9" style="padding-left: 0px">
      <ng-container *ngIf="selectedUser; else select">
        <article id="userchat">
          <div class="message-content">
            <div class="messages-headline d-flex gap-2 justify-content-between">
              <h4>{{ selectedUser?.userName }}</h4>
              <button
                class="btn btn-success d-sm-block d-md-none"
                (click)="sidebarVisible = true"
              >
                <i class="fa-solid fa-users"></i>
              </button>
              <button
                *ngIf="role == 'SELLER'"
                (click)="confirmOrder()"
                class="btn btn-success"
              >
                Create an Offer
              </button>
              <!-- <button class="btn btn-danger float-left">
            <i class="fa-solid fa-trash"></i>
          </button> -->
            </div>
            <div #chatContainer class="message-content-inner">
              <ng-container *ngFor="let message of oldMessages">
                <div
                  [ngClass]="{
                    'message-bubble-me': message.type == 'SENDER',
                    'message-bubble': message.type == 'RECEIVER'
                  }"
                >
                  <div class="message-bubble-inner">
                    <div class="message-text m-3 mt-0 mb-0">
                      <p [innerHTML]="message.content | linkify"></p>
                      <p class="time">{{ message.date }}</p>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </ng-container>
              <ng-container *ngFor="let message of messages$ | async">
                <div
                  [ngClass]="{
                    'message-bubble-me': message.type == 'SENDER',
                    'message-bubble': message.type == 'RECEIVER'
                  }"
                >
                  <div class="message-bubble-inner">
                    <div class="message-text m-3 mt-0 mb-0">
                      <p [innerHTML]="message.content | linkify"></p>
                      <p class="time">{{ message.date }}</p>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </ng-container>
            </div>
            <div class="message-reply">
              &nbsp;
              <textarea
                style="margin-left: 6px"
                #message
                cols="1"
                rows="1"
                placeholder="Your Message"
                data-autoresize
                (keydown.enter)="sendMessage($event, message)"
              ></textarea>

              <button
                (click)="sendMessage($event, message)"
                class="send-button"
              >
                <i class="fa-solid fa-paper-plane"></i>
              </button>
            </div>
          </div>
        </article>
      </ng-container>
      <ng-template #select>
        <article id="userchat" class="col-sm-12 col-md-9 asmr-container">
          <div class="button-container text-center">
            <button
              class="d-sm-block d-md-none btn btn-success w-25"
              (click)="showSideBar()"
            >
              Chats
            </button>
          </div>
          <i class="fa-solid fa-comments asmr-logo"></i>
          <h1>Terms and Condition</h1>
          <ul class="condition">
            <li>Please do not search any personal info here.</li>
            <li>Search Files through the dedicated Files Section.</li>
            <li>
              If you are getting an error while sending a message, please reload
              the page.
            </li>
            <li>Messages will be auto deleted. The project is submitted</li>
          </ul>
        </article>
      </ng-template>
    </div>
  </ng-container>
  <ng-template #nouser>
    <div class="container-fluid margin-top">
      <app-notfound></app-notfound>
    </div>
  </ng-template>
</section>
<p-sidebar
  class="col-md-3 d-sm-block d-md-none margin-top userbar"
  [(visible)]="sidebarVisible"
  position="left"
  [blockScroll]="false"
>
  <div class="messages-inbox">
    <ul class="user-list">
      <li *ngFor="let user of users">
        <a
          id="{{ user.sender.userName }}"
          (click)="selectUser(user)"
          [ngStyle]="{
            background: selectedUser === user.receiver ? '#f0f0f0' : 'none'
          }"
        >
          <div class="message-avatar">
            <i class="status-icon status-online"></i>
            <img
              src="data:image/jpeg; base64, {{ user?.sender.profilePicture }}"
              alt="profile Image"
            />
          </div>
          <div class="message-by">
            <div class="message-by-headline">
              <h5>{{ user?.sender.userName }}</h5>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</p-sidebar>
