.user-bar{
  max-height:450px;
  overflow-y: scroll;
}

.sticky-container{
  position: sticky;
  top:60px;
}
.message-content-inner{
  min-height: 390px ;
  max-height: 390px;
}
.message-content{
  height:530px;
}
.user-name{
  font-size: 25px;
}
/* send button */
.send-button {
  background-color: #009975;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.send-button i {
  margin-right: 5px;
}

.time{
  font-size:10px !important;
}
.sticky{
  position: sticky;
  top:75px;
}
#userchat{
  height:530px;
}
/* .messages-inbox{
  height:100vh;
} */
a,a:hover{
  cursor: pointer;
  color:#fff;
}
::ng-deep  .p-component-overlay {
  position: unset;
}
::ng-deep .p-sidebar-left {
  top:10% !important;
  width:12rem !important;
}
@media only screen and (max-width: 767px) {
  .messages-headline input {
    font-size: 16px;
  }

  .message-avatar img {
    width: 30px;
    height: 30px;
  }
  .messages-inbox ul li a{
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  .messages-inbox .message-avatar {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.message-by .message-by-headline h5 {

  font-size:10px;
}
.user-name{
  font-size: 15px;
}


}
