.margin-top{
  margin-top:5%;
}

.verified{
  color:#fff;
  border:none;
  border-radius: 2px;
  background-color: #30AB4A;

}
.profile-intro {
  /* background: linear-gradient(to right, #005700, #00A600, #00FF00); */
  background-color: #198754;
}
::ng-deep .p-chip  {
    background-color: #30AB4A;
    color: #fff;
    font-weight: 700;
}
::ng-deep .p-rating .p-rating-icon{
  color:#fff;
}
::ng-deep .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  color: #fff;
}
::ng-deep .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background: #30AB4A;
  border-color: #30AB4A;
}
.custom-box{
  max-height: 500px;
  overflow: scroll;
}
.item{
  width: 150px;
}

::ng-deep .p-rating .p-rating-icon.pi-star-fill{
  color:#33BF34;
}


::ng-deep .p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
    background-color: #33BF34;
}
::ng-deep .p-progressbar .p-progressbar-value {
  background-color: #33BF34;
}
