<section class="privacy">
  <div class="container-fluid mt-md-5 mt-sm-3">
    <div class="row">
      <div class="col-sm-7 offset-sm-2">
        <h1 class="text-center">LawTasks.pro Privacy Policy</h1>
        <p>
          LawTasks.pro respects the privacy of our users, and we have developed
          this Privacy Policy to demonstrate our commitment to protecting your
          privacy. This Privacy Policy describes for you, as an individual who
          is a user of LawTasks.pro and related applications and services the
          information we collect, how that information may be used, with whom it
          may be shared, and your choices about such uses and disclosures. We
          encourage you to read this Privacy Policy carefully when using our
          website or services or transacting business with us. By using our
          websites or any of our applications, you are accepting the practices
          described in this Privacy Policy. If you have any questions about our
          privacy practices, please refer to the end of this Privacy Policy for
          information on how to contact us.
        </p>
        <h1>Information We Collect About You</h1>
        <p>
          <b>In General.</b> We may collect personal information that can
          identify you, such as your name and email address, and other
          information that does not identify you. When you provide personal
          information through our website, some of that information such as your
          name, likeness, company or firm name, professional bio and comments
          will be visible to other users of the website. The information you
          provide to us may be sent to servers located in the United States and
          other countries around the world.<br />
          <b>Information you provide. </b>In the normal operation of our
          service, we may collect and store any personal information you enter
          on our website or provide to us in some other manner, including
          personal information that may be contained in any registration form,
          professional profile, comment or other submission you upload or post
          to the website. This includes identifying information, such as your
          name, address, e-mail address, and telephone number; your likeness;
          and, if you transact business with us, financial information such as
          your payment method (valid credit card number, type, expiration date
          or other financial information). We may also request information about
          your professional interests and activities, areas of expertise,
          biographical information, and demographic information. Except as
          described in this Privacy Policy we do not share your personal
          information with third parties. <br />
          <b>Information from other sources.</b> We may also periodically obtain
          both personal and non-personal information about you from business
          partners and other third parties. Examples of information that we may
          receive include: updated address information, purchase history, and
          additional demographic information.
          <br />
          <b>Information about others.</b> We may also collect and store
          personal information about other people that you provide to us. For
          example if you use our website to send others (friends, colleagues,
          etc.) information that may interest them or messages (such as
          invitations) through our system, we may store the contact information
          of each such recipient. <br />
          <b>Use of cookies and other technologies to collect information.</b>
          We use various technologies including cookies to collect information
          from your computer and about your activities on our site. A “cookie”
          is a small text file that is stored on a user’s computer for
          record-keeping purposes. Cookies can be either session cookies or
          persistent cookies. A session cookie expires when you close your
          browser and is used to make it easier for you to navigate our website.
          A persistent cookie remains on your hard drive for an extended period
          of time and makes your user experience more efficient, for example, by
          allowing us to remember you when you return. <br />
          <b>Information collected automatically.</b>
          We automatically collect information from your browser when you visit
          our website. This information includes your IP address, your browser
          type and language, access times, the content of any undeleted cookies
          that your browser previously accepted from us, and the referring
          website address. <br />
          <b>Cookies.</b>
          When you visit our website, we may assign your computer one or more
          cookies, to facilitate access to our site and to personalize your
          online experience. Through the use of a cookie, we also may
          automatically collect information about your online activity on our
          site, such as the web pages you visit, the links you click, and the
          searches you conduct on our site. Most browsers automatically accept
          cookies, but you can usually modify your browser setting to decline
          cookies. If you choose to decline cookies, please note that you may
          not be able to sign in or use some of the interactive features offered
          on our website. <br />
          <b>Other Technologies.</b>
          We may use standard Internet technology, such as web beacons and other
          similar technologies, to track your use of our site. We also may
          include web beacons in promotional e-mail messages or newsletters to
          determine whether messages have been opened and acted upon. The
          information we obtain in this manner enables us to customize the
          services we offer you to deliver more relevant, personalized content
          and/or offers to you, and to measure the overall effectiveness of our
          online advertising, content, and services activities.<br />
          <b>Information collected by third parties.</b>
          We may allow third parties (including the attorneys or offer and sell
          legal services on our website), advertising companies, and ad
          networks, to display content or advertisements on our site. These
          companies may use tracking technologies, such as cookies, to collect
          information about users who view or interact with their
          advertisements. Unless expressly stated otherwise, our website does
          not provide any personal information to these third parties. This
          information allows them to deliver more relevant and personalized
          content and/or advertisements and gauge their effectiveness. Some of
          these third-party advertising companies may be advertising networks
          that are members of the Network Advertising Initiative, which offers a
          single location to opt out of ad targeting from member companies
          (www.networkadvertising.org).
        </p>
      </div>
    </div>
  </div>
</section>
