<section class="terms margin-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="text-center">LawTasks.pro Copyright and DMCA Policy</h1>
      </div>
      <div class="col-md-7 offset-md-3">
        LawTasks.pro respects the intellectual property of others, and we ask
        our users to do the same. Each user is responsible for ensuring that the
        materials they upload to the LawTasks.pro website and related
        applications and services (collectively, the “LawTasks Service”) do not
        infringe any third--party copyright. We will promptly remove materials
        from the LawTasks Service in accordance with the Digital Millennium
        Copyright Act (“DMCA”) if properly notified that the materials infringe
        a third party's copyright. In addition, we may, in appropriate
        circumstances, terminate the accounts of repeat copyright infringers.
        Filing a DMCA Notice to Remove Copyrighted Content If you believe that
        your work has been copied in a way that constitutes copyright
        infringement, please provide us with a written notice containing the
        following information:
        <ol>
          <li>
            Your name, address, telephone number, and email address (if any).
          </li>
          <li>
            A statement that you have a good faith belief that the use of the
            copyrighted work is not authorized by the copyright owner, its
            agent, or the law.
          </li>
          <li>
            A description of the copyrighted work that you claim has been
            infringed.
          </li>
          <li>
            A description of where on the LawTasks Service the material that you
            claim is infringing may be found, sufficient for us to locate the
            material (e.g., the URL).
          </li>
          <li>
            A statement by you UNDER PENALTY OF PERJURY that the information in
            your notice is accurate and that you are the copyright owner or
            authorized to act on the copyright owner's behalf.
          </li>
          <li>Your electronic or physical signature.</li>
        </ol>
        <p>You may submit this information via:</p>
        <p>Email: <a href="mailto:dmca@lawtasks.pro">dmca@lawtasks.pro</a></p>
        <p>Offline: By sending a notice to our Copyright Agent at:</p>

        <address>
          LawTasks.pro<br />
          c/o Procast Media Holdings LLC<br />
          205 Third Ave., Suite 6W.<br />
          New York, New York 10003<br />
          Attn: Legal Dept. – Copyright Agent
        </address>
        <h3>DMCA Counter-Notification:</h3>
        <ol>
          <li>
            Please note that we will send any complete counter-notifications we
            receive to the person who submitted the original DMCA notice. That
            person may elect to file a lawsuit against you for copyright
            infringement. If we do not receive notice that a lawsuit has been
            filed within ten (10) business days after we provide notice of your
            counter-notification, we will restore the removed materials. Until
            that time, your materials will remain removed. We will provide a
            copy of the original DMCA takedown notice upon request.
          </li>
          <li>
            We will terminate user accounts that have been the subject of three
            (3) separate DMCA notices. In the event a user’s materials are
            removed due to a DMCA notice and then subsequently restored due to
            the filing of a DMCA counter-notification, we will treat the
            underlying DMCA notice as withdrawn.
          </li>
          <li>
            We reserve the right to terminate user accounts that are the subject
            of fewer than three (3) DMCA notices in appropriate circumstances,
            such as where the user has a history of violating or willfully
            disregarding our Terms of Use.
          </li>
          <li>
            Warning: In filing a DMCA notice or counter-notification, please
            make sure that you have complied with all of the above requirements.
            If we request additional information necessary to make your DMCA
            notice or counter-notification complete, please provide that
            information promptly. If you fail to comply with all of these
            requirements, your DMCA notice or counter-notification may not be
            processed further. In addition, please make sure that all of the
            information you provide is accurate. UNDER SECTION 512(f) OF THE
            COPYRIGHT ACT, 17 U.S.C. § 512(f), ANY PERSON WHO KNOWINGLY
            MATERIALLY MISREPRESENTS THAT MATERIAL OR ACTIVITY IS INFRINGING OR
            WAS REMOVED OR DISABLED BY MISTAKE OR MISIDENTIFICATION MAY BE
            SUBJECT TO LIABILITY. We may disclose any communications concerning
            DMCA notices or other intellectual property complaints with third
            parties, including the users who have posted the allegedly
            infringing material, and may provide DMCA notices to the Lumen
            Database.
          </li>
          <li>
            If you have questions about the legal requirements of a DMCA notice,
            please contact an attorney or see Section 512(c)(3) of the U.S.
            Copyright Act, 17 U.S.C. § 512(c)(3), for more information. If you
            have questions about the legal requirements of a DMCA
            counter-notification, please contact an attorney or see Section
            512(g)(3) of the U.S. Copyright Act, 17 U.S.C. § 512(g)(3), for more
            information.
          </li>
        </ol>

        <h3>Trademark Law and Infringement:</h3>
        <p>
          If you believe a LawTasks Service user is infringing on your
          trademark, notify us in either of the following ways:
        </p>
        <p>
          By Email:
          <a href="mailto:ipcomplaint@lawtasks.pro">ipcomplaint@lawtasks.pro</a>
        </p>
        <p>Offline: By sending a notice to:</p>

        <address>
          LawTasks.pro<br />
          c/o Procast Media Holdings LLC<br />
          205 Third Ave., Suite 6W.<br />
          New York, New York 10003<br />
          Attn: Legal Dept.
        </address>
      </div>
    </div>
  </div>
</section>
