<section class="terms margin-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="text-center">​​LawTasks.pro Terms of Use
        </h1>
      </div>
      <div class="col-md-7 offset-md-3 mt-5 fw-bold">
        PLEASE READ THIS DOCUMENT CAREFULLY. LawTasks.pro is an online marketplace where individuals and small
        businesses can connect with attorneys offering certain flat-rate legal services. These Terms of Use (the
        “Terms”) govern your access to the LawTasks.pro website (the “Website”) and the services offered on the Website.
        Please read these Terms carefully before accessing or using the Website. By registering on the Website or using
        the Website in any way, you accept these Terms, which form a binding agreement between you and the provider of
        the Website, Procast Media Holdings LLC (“we,” “our” or “us”). If you do not wish to be bound by these Terms, do
        not use the Website.

        <ol>
          <li>
            Fees and Payment
            <p>
              Attorneys who offer their services on the Website set the fees for the services they offer, but the fee
              for each service offered must be flat. We do not take any percentage of the fees charged by attorneys who
              sell services on the Website. Rather, attorneys who use the Website pay a monthly fee in exchange for the
              ability to offer their services on the Website.
              Users who purchase legal services on the Website will be charged a small administrative fee to cover
              finance charges. This fee will be clearly disclosed to users prior to the purchase of any legal services.
              All fees are subject to change upon advance notice.


            </p>
          </li>
          <li>
            License to Use the Website
            <p>We grant you a limited, non-exclusive, non-transferable, and revocable license to access and use the
              Website in accordance with these Terms.</p>
          </li>
          <li>
            Restrictions on Use
            <p>
              You may not:
              a. Use the Website in any way that violates any applicable federal, state, local, or international law or
              regulation. <br>
              b. Use the Website for the purpose of exploiting, harming, or attempting to exploit or harm minors in any
              way by exposing them to inappropriate content, asking for personally identifiable information, or
              otherwise. <br>
              c. Transmit, or procure the sending of, any advertising or promotional material, including any "junk
              mail," "chain letter," "spam," or any other similar solicitation. <br>
              d. Impersonate or attempt to impersonate us, our employees, another user, or any other person or entity.
              <br>
              e. Use any robot, spider, or other automatic device, process, or means to access the Website for any
              purpose, including monitoring or copying any of the material on the Website. <br>
              f. Attempt to gain unauthorized access to, interfere with, damage, or disrupt any parts of the Website,
              the server on which the Web <br>site is stored, or any server, computer, or database connected to the
              Website.
              g. Attack the Website via a denial-of-service attack or a distributed denial-of-service attack. <br>
              h. Otherwise attempt to interfere with the proper working of the Website. <br>

            </p>
          </li>
          <li>
            Intellectual Property Rights; Restrictions

            <p>
              The Website and all of its contents, features, and functionality, including but not limited to all
              information, software, text, displays, images, video, and audio, and the design, selection, and
              arrangement thereof, are owned by us, our licensors, or other providers of such material and are protected
              by United States and international copyright, trademark, and other intellectual property or proprietary
              rights laws.
              You must not reproduce, distribute, modify, create derivative works of, publicly display, publicly
              perform, republish, download, store, or transmit any of the material on the Website, except as follows:
              a. Your computer may temporarily store copies of such materials in RAM incidental to your accessing and
              viewing those materials.
              b. You may store files that are automatically cached by your web browser for display enhancement purposes.
              c. You may print or download one copy of a reasonable number of pages of the Website for your own
              personal, non-commercial use and not for further reproduction, publication, or distribution.
              If we provide desktop, mobile, or other applications for download, you may download a single copy to your
              computer or mobile device solely for your own personal, non-commercial use, and not for further
              reproduction, publication, or distribution. If we provide social media features with certain content, you
              may take such actions as are enabled by such features.
              You must not:
              a. Modify copies of any materials from the Website. <br>
              b. Use any illustrations, photographs, video or audio sequences, or any graphics separately from the
              accompanying text. <br>
              c. Delete or alter any copyright, trademark, or other proprietary rights notices from copies of materials
              from the Website; <br>
              d. Use any robot, spider, site search/retrieval application, or other automated device, process or means
              to access, retrieve, scrape, or index the Website or any content on the Website; <br>
              e. Reverse engineer, decompile or disassemble any software or other products or processes accessible
              through the Website; <br>
              f. Create or transmit unwanted electronic communications such as "spam" to other users or members of the
              Website or the Services or otherwise interfere with other users’ or members’ enjoyment of the Website;
              <br>
              g. Transmit any viruses, worms, defects, Trojan horses or other items of a destructive nature; <br>
              h. Use the Website to violate the security of any computer network, crack passwords or security encryption
              codes, transfer or store illegal material including that which is deemed threatening or obscene; <br>
              i. Copy or store any content offered on the Website for other than your own use; <br>
              j. Take any action that imposes, or may impose in our sole discretion, an unreasonable or
              disproportionately large load on our infrastructure; <br>
              k. Use the Website for any illegal or unauthorized purpose, or engage in, encourage, or promote any
              activity that violates these Terms. <br>

            </p>
          </li>
          <li>
            Account Security
            <p>
              You are responsible for all activity that occurs under your account, including any activity by
              unauthorized users. You must not allow others to use your account. You must safeguard the confidentiality
              of your login credentials. If you are using a computer that others have access to, you must log out of
              your account after using the Website. If you become aware of any unauthorized access to your account, you
              must change your password and notify us immediately.
            </p>
          </li>
          <li>
            Indemnification
            <p>
              You will indemnify, defend, and hold harmless us and our affiliates, officers, directors, employees,
              agents, licensors, and suppliers (collectively, the “Indemnified Parties”) from and against all claims,
              losses, expenses, damages, and costs, including reasonable attorneys' fees (collectively, “Claims”),
              resulting from any violation of these Terms or any activity related to your account (including negligent
              or wrongful conduct) by you or any other person accessing the Website using your account. In addition, if
              you are an attorney who offers and/or sells any legal service(s) on the Website, you and, if applicable,
              your law firm will indemnify, defend and hold harmless the Indemnified Parties from and against any and
              all Claims arising in connection with your offer, sale, performance, and/or non-performance of such
              service(s).
            </p>
          </li>
          <li>
            Disclaimers
            <p>
              We reserve the right to modify the Website and our offerings. You are responsible for providing your own
              access (e.g., computer, mobile device, Internet connection, etc.) to the Website. We have no obligation to
              screen or monitor any content and do not guarantee that any content available on the Website complies with
              applicable laws and/or rules of professional conduct, or that it is suitable for all users.
              The Website is provided on an "as is" and "as available" basis. You therefore use the Website at your own
              risk. We expressly disclaim any and all warranties of any kind, whether express or implied, including, but
              not limited to the implied warranties of merchantability, fitness for a particular purpose,
              non-infringement, and any other warranty that might arise under any law. Without limiting the foregoing,
              we make no representations or warranties:

            </p>
            <ul>
              <li> that the Website will be permitted in your jurisdiction;</li>
              <li> that the Website will be uninterrupted or error-free;</li>
              <li> concerning any content submitted by any user;</li>
              <li> concerning any third party's use of content that you submit;</li>
              <li> that any content you submit will be made available on the Website or will be stored by us;</li>
              <li> that the Website will meet your business or professional needs;</li>
              <li> that Website will continue to support any particular feature; or
                concerning sites and resources outside of the Website, even if linked to from the Website.</li>

            </ul>
            <p>
              Without limiting any of the above disclaimers, you expressly acknowledge and agree that:

            </p>
            <ul>
              <li> the Website is a marketing channel and passive conduit through which attorneys can market and sell
                their
                legal services;</li>
              <li> we are not a law firm or legal services provider and make no representations or warranties regarding
                any
                of the legal services offered or sold on the Website, or regarding any of the attorneys who offer or
                provide such services;</li>
              <li> if you are an attorney who offers and/or sells any legal service(s) on the Website, you are
                responsible
                for determining and ensuring that your use of the Website meets all applicable requirements for the
                advertising and provision of legal services in your jurisdiction;</li>
              <li>to the extent any disclaimer or limitation of liability does not apply, all applicable express,
                implied,
                and statutory warranties will be limited in duration to a period of thirty (30) days after the date on
                which you first used the Website, and no warranties shall apply after such period.</li>
            </ul>

          </li>
          <li>Limitation of Liability
            <p>
              To the fullest extent permitted by law: (i) we shall not be liable for any indirect, incidental, special,
              consequential, or exemplary damages, including but not limited to damages for loss of profits, goodwill,
              use, data or other intangible losses; (ii) If you are an attorney who offers and/or sells any service(s)
              on the Website, our total liability to you and/or your firm shall not exceed the fees paid to us by you or
              your firm for your subscription over the six (6) months preceding your claim(s); and (iii) If you are an
              individual or business who seeks and/or purchases legal services on the Website, our total liability to
              you shall not exceed One Hundred Dollars ($100.00).
              You understand that the Wesbite is merely a marketing channel and passive conduit through which attorneys
              may offer and sell legal services. Therefore, if you have a claim related to any legal service you
              purchase on the Website or otherwise receive from a provider you find on the Website, you agree to seek
              any remedies or relief you may have solely from the provider of such service, and not from us, and you
              hereby waive any claims you may have against us for any such remedies or relief.

            </p>
          </li>
          <li>Your Representations and Warranties
            <p>For all content that you submit to the Website, you represent and warrant that: (i) you have the right to
              submit the content; (ii) we will not need to obtain licenses from any third party or pay royalties to any
              third party for the content; (iii) the content does not infringe any third party's rights, including
              intellectual property rights and privacy rights; and (iv) the content complies with these Terms and all
              applicable laws.
              If you offer and/or sell any legal service(s) on the Website, you further represent and warrant that: (v)
              you are, at all times while offering, selling and/or performing such service(s), a licensed attorney and a
              member in good standing of the Bar of at least one U.S. jurisdiction; (vi) you will only perform such
              service(s) in the jurisdiction(s) in which you are so licensed and admitted; (vii) you are competent to
              perform such service(s); (viii) you carry (or your law firm carries) professional liability insurance
              coverage in connection with such services that is sufficient to enable you to meet your indemnification
              and defense obligations under paragraph 7 above; and (ix) your use of the Website and your performance of
              legal services for users of the Website shall at all times comply with all applicable laws and rules of
              professional conduct.
            </p>

          </li>
          <li>
            General Provisions
            <p>
              Governing Law: This Agreement shall be governed by the laws of the State of New York, United States of
              America, without regard to principles of conflicts of law. The Uniform Commercial Code, the Uniform
              Computer Information Transaction Act, and the United Nations Convention of Controls for International Sale
              of Goods shall not apply.
              Disputes: Any dispute arising out of or relating to these Terms or the Website will be resolved through
              binding arbitration in accordance with the rules of JAMS. You agree to waive any right to bring claims
              against us or any other user of the Website as a class action or in a representative capacity, and you
              irrevocably waive any right to a trial by jury.
              Interpretation; Severability; Waiver; Remedies: Headings are for convenience only and shall not be used to
              construe the terms of this Agreement. If any term of this Agreement is found invalid or unenforceable by
              any court of competent jurisdiction, that term will be severed from this Agreement. No failure or delay by
              us in exercising any right hereunder will waive any further exercise of that right. Our rights and
              remedies hereunder are cumulative and not exclusive.
              Successors; Assignment; No Third Party Beneficiaries: This Agreement is binding upon and shall inure to
              the benefit of both parties and their respective successors, heirs, executors, administrators, personal
              representatives, and permitted assigns. You may not assign this Agreement without our prior written
              consent, which we may withhold or grant in our sole discretion. No third party shall have any rights
              hereunder.
              Notices: You consent to receive all communications including notices, agreements, disclosures, or other
              information from us electronically. We may provide all such communications by email or by posting them on
              the Website. For support-related inquiries, you may contact us. You may send notices of a legal nature to
              legal@lawtasks.pro.
              Nothing in these Terms shall limit our right to object to subpoenas, claims, or other demands.
              Modification: This Agreement may not be modified except by a revised Terms of Use posted by us on the
              Website, or a written amendment signed by an authorized representative of ours. A revised Terms of Use
              will be effective as of the date it is posted on the Website.
              Entire Agreement: This Agreement incorporates the following documents by reference:
              · Privacy Policy
              · Copyright and DMCA Policy

              This Agreement constitutes the entire understanding between you and us concerning the subject matter
              hereof and supersedes all prior agreements and understandings regarding the same.

            </p>
          </li>
          <li></li>
        </ol>
        <p>You may submit this information via:</p>
        <p>Email: <a href="mailto:dmca@lawtasks.pro">dmca@lawtasks.pro</a></p>
        <p>Offline: By sending a notice to our Copyright Agent at:</p>

        <address>
          LawTasks.pro<br />
          c/o Procast Media Holdings LLC<br />
          205 Third Ave., Suite 6W.<br />
          New York, New York 10003<br />
          Attn: Legal Dept. – Copyright Agent
        </address>
        <h3 class="my-4">DMCA Counter-Notification:</h3>
        <ol>
          <li>
            Please note that we will send any complete counter-notifications we
            receive to the person who submitted the original DMCA notice. That
            person may elect to file a lawsuit against you for copyright
            infringement. If we do not receive notice that a lawsuit has been
            filed within ten (10) business days after we provide notice of your
            counter-notification, we will restore the removed materials. Until
            that time, your materials will remain removed. We will provide a
            copy of the original DMCA takedown notice upon request.
          </li>
          <li>
            We will terminate user accounts that have been the subject of three
            (3) separate DMCA notices. In the event a user’s materials are
            removed due to a DMCA notice and then subsequently restored due to
            the filing of a DMCA counter-notification, we will treat the
            underlying DMCA notice as withdrawn.
          </li>
          <li>
            We reserve the right to terminate user accounts that are the subject
            of fewer than three (3) DMCA notices in appropriate circumstances,
            such as where the user has a history of violating or willfully
            disregarding our Terms of Use.
          </li>
          <li>
            Warning: In filing a DMCA notice or counter-notification, please
            make sure that you have complied with all of the above requirements.
            If we request additional information necessary to make your DMCA
            notice or counter-notification complete, please provide that
            information promptly. If you fail to comply with all of these
            requirements, your DMCA notice or counter-notification may not be
            processed further. In addition, please make sure that all of the
            information you provide is accurate. UNDER SECTION 512(f) OF THE
            COPYRIGHT ACT, 17 U.S.C. § 512(f), ANY PERSON WHO KNOWINGLY
            MATERIALLY MISREPRESENTS THAT MATERIAL OR ACTIVITY IS INFRINGING OR
            WAS REMOVED OR DISABLED BY MISTAKE OR MISIDENTIFICATION MAY BE
            SUBJECT TO LIABILITY. We may disclose any communications concerning
            DMCA notices or other intellectual property complaints with third
            parties, including the users who have posted the allegedly
            infringing material, and may provide DMCA notices to the Lumen
            Database.
          </li>
          <li>
            If you have questions about the legal requirements of a DMCA notice,
            please contact an attorney or see Section 512(c)(3) of the U.S.
            Copyright Act, 17 U.S.C. § 512(c)(3), for more information. If you
            have questions about the legal requirements of a DMCA
            counter-notification, please contact an attorney or see Section
            512(g)(3) of the U.S. Copyright Act, 17 U.S.C. § 512(g)(3), for more
            information.
          </li>
        </ol>

        <h3 class="my-4">Trademark Law and Infringement:</h3>
        <p>
          If you believe a LawTasks Service user is infringing on your
          trademark, notify us in either of the following ways:
        </p>
        <p>
          By Email:
          <a href="mailto:lawtasks@lawtasks.pro">ipcomplaint@lawtasks.pro</a>
        </p>
        <p>Offline: By sending a notice to:</p>

        <address>
          LawTasks.pro<br />
          c/o Procast Media Holdings LLC<br />
          205 Third Ave., Suite 6W.<br />
          New York, New York 10003<br />
          Attn: Legal Dept.
        </address>
      </div>
    </div>
  </div>
</section>
