<p-toast position="bottom-right"></p-toast>
<div class="container">
  <form [formGroup]="jobForm" (ngSubmit)="onSubmit()">
    <div class="flex flex-column">
      <label htmlFor="username">Username</label>
      <input
        pInputText
        id="jobName"
        aria-describedby="jobname-help"
        placeholder="Job Name"
        formControlName="jobName"
        [required]="true"
      />
      <small id="jobname-help">Enter your Job Name.</small>
    </div>
    <div
      *ngIf="jobForm.get('jobName').invalid && jobForm.get('jobName').touched"
      class="error-message"
    >
      Name is Required
    </div>
    <div class="flex flex-column">
      <label htmlFor="username">Price</label>
      <div class="input-group mb-3">
        <span class="input-group-text">$</span>
        <input
          formControlName="jobPrice"
          [required]="true"
          placeholder="10"
          type="number"
          class="form-control"
          aria-label="Amount"
        />
        <span class="input-group-text">.00</span>
      </div>
      <small id="jobname-help">Enter your Job Price.</small>
    </div>

    <div
      *ngIf="jobForm.get('jobPrice').invalid && jobForm.get('jobPrice').touched"
      class="error-message"
    >
      Price is Required
    </div>
    <div class="flex flex-column">
      <label htmlFor="description">Description</label>
      <textarea
        pInputTextarea
        id="description"
        rows="2"
        cols="10"
        aria-describedby="description-help"
        placeholder="Description"
        formControlName="description"
        [required]="true"
      >
      </textarea>
      <small id="description-help">Enter your Job Description.</small>
    </div>
    <div
      *ngIf="
        jobForm.get('description').invalid && jobForm.get('description').touched
      "
      class="error-message"
    >
      Description is Required
    </div>
    <div class="form-outline">
      <input
        type="file"
        formControlName="jobPicture"
        (change)="onChange($event)"
        class="form-control form-control-lg"
        required
      />
      <label class="form-label">Job Profile Picture</label>
    </div>
    <div
      *ngIf="
        jobForm.get('jobPicture').invalid && jobForm.get('jobPicture').touched
      "
      class="error-message"
    >
      Job display Picture is Required
    </div>
    <div class="single-input-item">
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </form>
</div>
