<section class="content margin-top">

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="row justify-content-center">
          <div class="col-md-6 fw-bold fs-4">
            <address>
              LawTasks.pro<br />
              c/o Procast Media Holdings LLC<br />
              205 Third Ave., Suite 6W.<br />
              New York, New York 10003<br />
              Attn: Legal Dept. – Copyright Agent
            </address>
            <div class="mail-btn text-center">

              <a class="button" href="mailto:{{mail}}">Contact Us</a>
            </div>
          </div>
          <div class="col-md-6">
            <h3 class="heading mb-4">Let's talk about everything!</h3>
            <p><img src="assets/images/login/undraw-contact.svg" alt="Image" class="img-fluid"></p>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
