<section class="content margin-top">

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">


        <div class="row justify-content-center">
          <div class="col-md-6">

            <h3 class="heading mb-4">Let's talk about everything!</h3>
            <p><img src="assets/images/login/undraw-contact.svg" alt="Image" class="img-fluid"></p>

          </div>
          <div class="col-md-6">

            <div class="mail-btn text-center margin-btn">
              <a class="btn btn-success" href="mailto:{{mail}}">Contact Us</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
