<section class="container margin-top">
  <!-- Dashboard Content
	================================================== -->
  <p-toast position="bottom-right"></p-toast>

  <div class="dashboard-content-container" data-simplebar>
    <div class="dashboard-content-inner">
      <div class="dashboard-headline">
        <h3>{{ user["userName"] }} !</h3>
        <span>We are glad to see you again!</span>
      </div>

      <!-- Fun Facts Container -->
      <div class="fun-facts-container row">
        <div class="col-md-4">
          <div class="fun-fact">
            <div class="fun-fact-text">
              <span>Total Jobs</span>
              <h4> {{ userDashboard?.jobs !== null && userDashboard?.jobs !== undefined ? userDashboard?.jobs : 0 }}</h4>
            </div>
            <div class="fun-fact-icon">
              <i class="fas fa-cart-shopping" style="color: #efa80f"></i>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="fun-fact">
            <div class="fun-fact-text">
              <span>Total Revenue</span>
              <h4>{{ userDashboard?.revenue !== null && userDashboard?.revenue !== undefined ? userDashboard?.revenue : 0  | currency:"USD"}}</h4>
            </div>
            <div class="fun-fact-icon">
              <i class="fa-solid fa-sack-dollar" style="color: #00ff00"></i>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="fun-fact">
            <div class="fun-fact-text">
              <span>Subscription Type</span>
              <h4>{{ userDashboard?.sellerType !== null && userDashboard?.sellerType !== undefined ? userDashboard?.sellerType : "NONE"}}</h4>
            </div>
            <div class="fun-fact-icon">
              <i class="fa-solid fa-star" style="color: #e7d5a2"></i>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="fun-fact">
            <div class="fun-fact-text">
              <span>Cancel Subscription </span>
              <button class="btn btn-danger mt-3" (click)="cancel()">
                Cancel
              </button>
            </div>
            <div class="fun-fact-icon">
              <i class="fa-solid fa-circle-exclamation" style="color: #ff401e"></i>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="fun-fact">
            <div class="fun-fact-text">
              <span>Update Subscription </span>
              <button class="btn btn-success mt-3" routerLink="/home/payment">
                Update
              </button>
            </div>
            <div class="fun-fact-icon">
              <i class="fa-solid fa-arrow-up-right-dots" style="color:#00ff00"></i>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="fun-fact">
            <div class="fun-fact-text">
              <span>Time left </span>
              <h4>{{ time }}</h4>
            </div>
            <div class="fun-fact-icon">
              <i class="fa-solid fa-clock" style="color:#efa80f"></i>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</section>


