<section class="row">
  <form>
    <!-- Dashboard Box -->
    <div class="col-xl-12">
      <div class="dashboard-box">
        <div class="headline">
          <h3><i class="fa-regular fa-id-card"></i> User Account Information</h3>
        </div>

        <div class="content">
          <div class="row">
            <div class="col-auto">
              <div
                class="avatar-wrapper"
                data-tippy-placement="bottom"
                title="Change Avatar"
              >
                <img
                  class="profile-pic mx-2 mt-2"
                  src="data:image/jpeg; base64, {{ seller.profilePicture }}"
                  alt="seller picture"
                />
              </div>
            </div>

            <div class="col">
              <div class="row">
                <div class="col-xl-6">
                  <div class="submit-field">
                    <h5>First Name</h5>
                    <input
                      value="{{ seller.firstName }}"
                      type="text"
                      class="with-border"
                      placeholder="James"
                      disabled="true"
                    />
                  </div>
                </div>

                <div class="col-xl-6">
                  <div class="submit-field">
                    <h5>Last Name</h5>
                    <input
                      value="{{ seller.lastName }}"
                      type="text"
                      class="with-border"
                      placeholder="Smith"
                      disabled="true"
                    />
                  </div>
                </div>

                <div class="col-xl-6">
                  <!-- Account Type -->
                  <div class="submit-field">
                    <h5>Account Type</h5>
                    <div class="account-type">
                      <div>
                        <input
                          type="radio"
                          name="account-type-radio"
                          id="freelancer-radio"
                          class="account-type-radio"
                          checked
                          [disabled]="true"
                        />
                        <label for="freelancer-radio" class="ripple-effect-dark"
                          ><i
                            class="fas fa-user"
                            style="color: #fff !important"
                          ></i>
                          Seller</label
                        >
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-xl-6">
                  <div class="submit-field">
                    <h5>Email</h5>
                    <input
                      value="{{ seller.email }}"
                      type="text"
                      class="with-border"
                      placeholder="tom@example.com"
                      disabled="true"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Dashboard Box -->
    <div class="col-xl-12">
      <div class="dashboard-box">
        <!-- Headline -->
        <div class="headline">
          <h3><i class="fa-solid fa-face-smile"></i> Seller Profile</h3>
        </div>

        <div class="content">
          <ul class="fields-ul">
            <li>
              <div class="row">
                <div class="col-md-4">
                  <div class="submit-field">
                    <div class="bidding-widget">
                      <!-- Headline -->
                      <span class="bidding-detail"
                        >Set your <strong>minimal hourly rate</strong></span
                      >
                      <div class="bidding-value mb-5">
                        $<span id="biddingVal">{{ seller.charges }}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <h5>
                    Job Name
                    <i
                      class="fa-solid fa-suitcase"
                      title="Add up to 5 skills"
                    ></i>
                  </h5>
                  <div class="mt-4 pt-4">
                    <input
                      value="{{ seller.jobName }}"
                      type="text"
                      placeholder="Enter the Job Name"
                      class="form-control form-control-lg"
                      disabled="true"
                    />
                  </div>
                </div>



                <div class="col-md-4">
                  <div class="submit-field">
                    <h5>Attachments</h5>

                    <!-- Attachments -->
                    <div class="attachments-container">
                      <div class="attachment-box ripple-effect">
                        <span>{{seller.documentName}}</span>
                        {{seller.documentType}}
                        <i class="fa-solid fa-circle-down" (click)="download()"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="col-xl-6">
                  <div class="submit-field">
                    <h5>Tagline</h5>
                    <input
                      value="{{ seller.tagLine }}"
                      type="text"
                      class="with-border"
                      disabled="true"
                    />
                  </div>
                </div>

                <div class="col-xl-6">
                  <div class="submit-field">
                    <h5>Nationality</h5>
                    <p>{{ seller.location }}</p>
                  </div>
                </div>

                <div class="col-xl-12">
                  <div class="submit-field">
                    <h5>Description</h5>
                    <textarea
                      value="{{ seller.description }}"
                      cols="30"
                      rows="5"
                      disabled="true"
                      class="with-border"
                    >
                    </textarea>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </form>
  <div class="row mt-4 mb-4 offset-sm-3">
    <div class="col-sm-3">
      <button type="submit" class="btn btn-success" (click)="accept()">
        <i style="color:#fff !important;" class="fa-solid fa-check"></i>
        Accept
      </button>
    </div>
      <div class="col-sm-3">
      <button type="submit" class="btn btn-danger" (click)="showDialog()">
        <i  style="color:#fff !important;" class="fa-solid fa-xmark"></i>
        Reject
      </button>
    </div>
  </div>

</section>
<p-dialog [(visible)]="isDisplay"  header="Give Remarks" [modal]="true" styleClass="dialog-style">
  <ng-template pTemplate="body">
    <h1>hello</h1>
  </ng-template>
</p-dialog>
