.page-title {
  font-size: 30px;
  font-weight: 600;
}

input,input:focus,input:hover{
  border:1px solid black;
  border-radius: 10px;
}
.button{
  height: auto;
  font-size: 20px;
  color: #fff !important;
  background-color: #00A88C;
}
.radio-buttons input[type="radio"]:checked + .button-style {
  background-color: #00A88C;
  color: #fff;

}/* Green Theme Styles */
form {
  background-color:  #f0f8f6;
  padding: 20px;
  border-radius: 8px;
}

input[type="text"] {
  background-color: #ffffff;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
}

button {
  background-color: #00b894;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #00a383;
}
