<section class="container margin">
  <div class="row">
    <div class="col-xl-3 col-lg-4">
      <div class="sidebar-container">
        <!-- Location -->
        <div class="sidebar-widget">
          <h3>Search</h3>
          <div class="input-with-icon">
            <div id="autocomplete-container">
              <input
                #search
                id="autocomplete-input"
                type="text"
                placeholder="Search"
              />
            </div>
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
        </div>

        <div class="sidebar-widget">
          <h3>Price</h3>
          <div class="d-flex justify-content-between">

            <button type="button" class="btn btn-outline-dark"> <i class="fa-solid fa-dollar-sign"></i></button>
          <button type="button" class="btn btn-outline-dark"> <i class="fa-solid fa-dollar-sign"></i> <i class="fa-solid fa-dollar-sign"></i></button>
          <button type="button" class="btn btn-outline-dark"> <i class="fa-solid fa-dollar-sign"></i> <i class="fa-solid fa-dollar-sign"></i> <i class="fa-solid fa-dollar-sign"></i></button>
          </div>



          <!-- Range Slider -->
          <input
            class="range-slider"
            type="text"
            value=""
            data-slider-currency="$"
            data-slider-min="10"
            data-slider-max="2500"
            data-slider-step="25"
            data-slider-value="[10,2500]"
          />
        </div>

        <!-- Hourly Rate -->
        <div class="sidebar-widget">
          <h3>Hourly Rate</h3>
          <div class="margin-top-55"></div>

          <!-- Range Slider -->
          <input
            class="range-slider"
            type="text"
            value=""
            data-slider-currency="$"
            data-slider-min="10"
            data-slider-max="150"
            data-slider-step="5"
            data-slider-value="[10,200]"
          />
        </div>
      </div>
    </div>
    <div class="col-xl-9 col-lg-8">
      <h3 class="page-title">Search Results</h3>

      <div class="notify-box margin-top-15">
        <div class="d-flex flex-space-between">
          <span>Sort by:</span>
          <select class="selectpicker">
            <option>Relevance</option>
            <option>Newest</option>
            <option>Oldest</option>
            <option>Random</option>
          </select>
        </div>
      </div>

      <!-- Tasks Container -->
      <div class="tasks-list-container tasks-grid-layout margin-top-35">
        <!-- Task -->
        <a *ngFor="let job of jobs" class="task-listing">
          <!-- Job Listing Details -->
          <div class="task-listing-details">
            <div class="task-listing-description">
              <img
                width="70"
                src="data:image/jpeg; base64, {{ job?.jobImage }}"
                alt="job image"
              />
              <h3 class="task-listing-title">{{ job.jobName }}</h3>
              <ul class="task-icons">
                <li>
                  <i class="icon-material-outline-location-on"></i>location
                </li>

              </ul>
            </div>
          </div>

          <div class="task-listing-bid">
            <div class="task-listing-bid-inner">
              <div class="task-offers">
                <strong>{{ job?.jobPrice | currency : "USD" }}</strong>
                <strong>{{job?.user.userName}}</strong>
                <span>Fixed Price</span>
              </div>
              <span
                (click)="sendMessage(job.user.userId)"
                class="button button-sliding-icon ripple-effect"
                >Contact <i class="fa-regular fa-comment-dots"></i></span>
            </div>
          </div>
        </a>
      </div>
      <!-- Tasks Container / End -->

      <!-- Pagination -->
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12">
          <!-- Pagination -->
          <div class="pagination-container margin-top-60 margin-bottom-60">
            <nav class="pagination">
              <ul>
                <li class="pagination-arrow">
                  <a href="#" class="ripple-effect"
                    ><i class="icon-material-outline-keyboard-arrow-left"></i
                  ></a>
                </li>
                <li><a href="#" class="ripple-effect">1</a></li>
                <li><a href="#" class="current-page ripple-effect">2</a></li>
                <li><a href="#" class="ripple-effect">3</a></li>
                <li><a href="#" class="ripple-effect">4</a></li>
                <li class="pagination-arrow">
                  <a href="#" class="ripple-effect"
                    ><i class="icon-material-outline-keyboard-arrow-right"></i
                  ></a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <!-- Pagination / End -->
    </div>
  </div>
</section>
