<section class="container-fluid margin-top">
  <div class="row">
    <ng-container *ngIf="isFound; else notFound">
      <div class="col-sm-12">

        <div class="row m-2">
          <div class="col-md-2">
            <div class="sidebar-container">

              <!-- Keywords -->
              <div class="sidebar-widget">
                <h3>Search</h3>
                <div class="keywords-container">
                  <div class="keyword-input-container">
                    <input
                      type="text"
                      class="keyword-input"
                      placeholder="e.g. job title"
                      #searchWord
                    />
                    <button class="keyword-input-button" (click)="searchJobs(searchWord.value)">
                      <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>

              <div class="sidebar-widget">
                <h3>Category (filter)</h3>
                <select
                  (change)="filterCategories($event.target['value'])"
                  class="selectpicker with-border"
                  title="Select Job Type"
                >
                  <option value="">Category</option>
                  <option
                    *ngFor="let category of categories"
                    value="{{ category.id }}"
                  >
                    {{ category.name }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-9">
            <div class="row">
              <div class="tasks-list-container tasks-grid-layout margin-top-35 text-center">
                <!-- Task -->
                <ng-container *ngIf="isFound && jobs && jobs.length > 0; else notJob">
                  <a
                  *ngFor="let job of jobs?.slice(first, first + rows)"
                  class="task-listing col-sm-12 col-md-3"
                >
                  <!-- Job Listing Details -->
                  <div class="task-listing-details">
                    <div class="task-listing-description">
                      <img
                        class="job-image"
                        src="data:image/jpeg; base64, {{ job?.jobImage }}"
                        alt="job image"
                      />
                      <h3 class="task-listing-title">{{ job.jobName }}</h3>
                      <strong class="">{{ job.category?.name }}</strong>

                    </div>
                  </div>

                  <div class="task-listing-bid">
                    <div class="task-listing-bid-inner">
                      <div class="task-offers">
                        <strong class="">{{job.description}}</strong>
                        <strong>{{ job?.jobPrice | currency : "USD" }}</strong>
                        <strong>{{ job?.user.userName }}</strong>
                        <span>Fixed Price</span>
                      </div>
                    </div>
                    <div class="action text-center mb-3">
                      <span
                        (click)="sendMessage(job.user.userId)"
                        class="btn btn-success"
                        >Contact <i class="fa-regular fa-comment-dots"></i
                      ></span>
                    </div>
                  </div>
                </a>

                </ng-container>
                <ng-template #notJob>
                  <h1 class="fw-700">Not found</h1>
                </ng-template>

              </div>
              <p-paginator
              (onPageChange)="onPageChange($event)"
              [first]="first"
              [rows]="rows"
              [totalRecords]="jobs?.length"
            ></p-paginator>
            </div>
          </div>

          <div class="clearfix"></div>
        </div>
      </div>
    </ng-container>
    <ng-template #notFound>
      <form
        [formGroup]="search"
        (ngSubmit)="onSubmit()"
        class="d-flex flex-row"
        style="max-width: 400px; margin: 0 auto"
      >

          <input
            type="text"
            placeholder="Jobs"
            formControlName="job"
            class="form-controle"
          />

        <button class="btn btn-success">Search</button>
      </form>
      <app-notfound></app-notfound>
    </ng-template>
  </div>
</section>
