<section id="profile" class="margin-top">
  <p-toast position="bottom-right"></p-toast>
  <div class="single-page-header freelancer-header profile-intro">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="single-page-header-inner">
            <div class="left-side">
              <div class="header-image freelancer-avatar">
                <img
                  src="data:image/jpeg; base64,{{
                    freelancerData?.seller?.user?.profilePicture
                  }}"
                  alt="freelancer image"
                />
              </div>
              <div class="header-details">
                <h3>
                  {{ freelancerData?.seller?.firstName }}
                  {{ freelancerData?.seller?.lastName
                  }}<span>{{ freelancerData?.seller?.tagLine }}</span>
                </h3>
                <ul>
                  <li>
                    {{ freelancerData?.seller?.location }}
                    <img
                      width="20"
                      height="20"
                      class="mx-3"
                      src="{{ freelancerData?.flag }}"
                      alt="flag img"
                    />
                  </li>
                  <li>
                    <p-chip label="Verified" icon="pi pi-verified"></p-chip>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Page Content
  ================================================== -->
  <div class="container">
    <div class="row">
      <!-- Content -->
      <div class="col-md-7">
        <div class="single-page-section">
          <h3 class="margin-bottom-25">About Me</h3>
          <p>{{ freelancerData?.seller?.description }}</p>
        </div>
        <div class="boxed-list margin-bottom-60">
          <div class="boxed-list-headline">
            <h3><i class="fa-solid fa-briefcase"></i> Avaliable Jobs</h3>
          </div>

          <ul class="boxed-list-ul">
            <li *ngFor="let job of jobs?.slice(first, first + rows)">
              <div class="boxed-list-item">
                <!-- Avatar -->
                <div class="item-image">
                  <img
                    src="data:image/jpeg; base64,{{ job?.jobImage }}"
                    alt="job image"
                  />
                </div>
                <div class="item-content">
                  <h4>{{ job?.jobName }}</h4>
                  <div class="item-details margin-top-7">
                    <div class="detail-item">
                      <i class="fa-solid fa-wallet"></i>
                      {{ job?.jobPrice | currency : "USD" }} {{ job?.jobType }}
                    </div>
                  </div>
                  <div class="item-description">
                    <p>{{ job?.description }}</p>
                  </div>
                </div>
              </div>
            </li>
          </ul>

          <div class="clearfix"></div>
          <div class="row">
            <div class="col-md-12">
              <p-paginator
                (onPageChange)="onPageChange($event)"
                [first]="first"
                [rows]="rows"
                [totalRecords]="jobs?.length"
              ></p-paginator>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="col-md-5">
        <h2>Profile Info</h2>
        <div class="status-container d-flex flex-row">

          <div class="rating my-4 item">
            <label for="rating">Rating</label>
            <p-rating
              [(ngModel)]="freelancerData.rating"
              [cancel]="false"
              [readonly]="true"
            ></p-rating>
          </div>
          <div class="success my-4 item">
            <label for="sucess"></label>
            <p-progressBar [value]="freelancerData.success"></p-progressBar>
          </div>
        </div>

        <div class="dashboard-box custom-box">
          <div class="headline">
            <h3><i class="fa-solid fa-comment m-2"></i> Comments</h3>
          </div>

          <div class="content with-padding">
            <!-- Note -->
            <ng-container *ngFor="let comment of freelancerData.comments">
              <div class="dashboard-note">
                <p>{{ comment }}</p>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
