.verified{
  color:#fff;
  border:none;
  border-radius: 2px;
  background-color: #30AB4A;

}
.profile-intro {
  background: linear-gradient(to right, #005700, #00A600, #00FF00);
}
::ng-deep .p-chip  {
    background-color: #30AB4A;
    color: #fff;
    font-weight: 700;
}
::ng-deep .p-rating .p-rating-icon{
  color:#fff;
}
::ng-deep .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  color: #fff;
}
::ng-deep .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background: #30AB4A;
  border-color: #30AB4A;
}
.dashboard-note {
	border-radius: 4px;
	background-color: #f8f8f8;
	padding: 25px;
	padding-top: 20px;
	margin-bottom: 20px;
	position: relative;
}

.dashboard-note:last-child { margin-bottom: 65px; }

.dashboard-note:before {
	content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-width: 0 20px 20px 0;
    border-style: solid;
    border-color: rgba(0,0,0,0.15) #fff;
    transition: 0.3s;
    border-radius: 0 0 0 4px;
}

.dashboard-note p {
	line-height: 24px;
	margin-bottom: 20px;
	color: #777;
	font-size: 14.7px;
}
.custom-box{
  max-height: 500px;
  overflow: scroll;
}

.item{
  width: 150px;
}

::ng-deep .p-rating .p-rating-icon.pi-star-fill{
  color:#33BF34;
}


::ng-deep .p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
    background-color: #33BF34;
}
::ng-deep .p-progressbar .p-progressbar-value {
  background-color: #33BF34;
}
