.job-listing {
	display: block;
	border-radius: 4px;
	box-shadow: 0 2px 12px rgba(0,0,0,0.12);
	background-color: #fff;
}

.job-listing:hover {
	/* box-shadow: 0 2px 18px rgba(0,0,0,0.14); */
  border-left: 4px solid blue;
}
.job-listing:hover button{
  color:white;
  background-color: #0030ee;
}

.job-listing-details {
	padding-top: 20px;
  padding-left: 10px;
}

.job-listing .job-listing-company-logo {
	flex: 1;
	max-width: 55px;
	margin-right: 25px;
	position: relative;
	top: 3px;
}

.job-listing .job-listing-company-logo img {
	border-radius: 4px;
	transform: translate3d(0,0,0);
}

.job-listing .job-listing-description {
	flex: 1;
	padding-top: 3px;
}

.job-listing .job-listing-description p {
	margin: 15px 0 0 0;
	padding: 0;
	color: #666;
}

.job-listing h4.job-listing-company {
	font-size: 16px;
	color: #808080;
}

.job-listing h3.job-listing-title {
	font-size: 20px;
	color: #333;
	line-height: 30px;
}

.job-listing .job-listing-footer {
	/* background-color: #f9f9f9; */
	padding: 20px 35px;
	border-radius: 0 0 4px 4px;
	position: relative;
}

.job-listing .job-listing-footer ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.job-listing .job-listing-footer ul li {
	display: inline-block;
	margin-right: 14px;
	color: #777;
}

.job-listing .job-listing-footer ul li:last-child {
	margin-right: 0;
}

.job-listing .job-listing-footer ul li i.icon-material-outline-location-on {
	margin-right: 0;
}

.job-listing .job-listing-footer ul li i {
	position: relative;
	top: 1px;
	margin-right: 3px;
	color: #777;
}
.btn{
  font-size: 16px;
  background-color: #F0F0F0;
  font-weight: 500;
}
