<section>
  <div class="row text-center">
    <h3 class="heading p-3 m-3">Featured Jobs</h3>
  </div>
  <div class="row offset-md-1">
    <p-toast position="bottom-right"></p-toast>
    <div class="col-md-9">
      <a *ngFor="let request of sellerRequest$ | async"  class="job-listing with-apply-button">
        <div class="row job-listing-details">
          <div class="col-sm-1">
            <div class="job-listing-company-logo">
              <img
                src="data:image/jpeg; base64, {{ request.profilePicture }}"
                width="70"
                alt="job image"
              />
            </div>
          </div>
          <div class="col-sm-9 px-4">
            <div class="d-flex flex-start">
              <h3 class="job-listing-title">
                {{request.jobName}}
              </h3>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="d-flex flex-start job-listing-footer">
                  <ul>
                    <li>
                      <i class="fa-regular fa-building"></i> Hexagon
                      <!-- <div
                        class="verified-badge"
                        title="Verified Employer"
                        data-tippy-placement="top"
                      ></div> -->
                    </li>
                    <li>
                      <i class="fa-solid fa-location-dot"></i> {{request.location}}
                    </li>
                    <li><i class="fa-solid fa-briefcase"></i> Full Time</li>
                    <li><i class="fa-regular fa-clock"></i> 2 days ago</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-2 pt-4">
            <button routerLink="/admin-dashboard/request-approval-detail" class="btn">Detail</button>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
