<section class="container-fluid margin-top">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <div class="alert alert-dark text-center" role="alert">
          <h4 class="alert-heading">Sorry!</h4>
          <p>We're sorry, the thing you were looking for doesn't exist</p>
          <div class="intro-search-button d-flex justify-content-center">
            <button routerLink="/home" class="button ripple-effect">Go to Home</button>
          </div>
        </div>
      </div>
  </div>
</section>
