<div class="col-xl-9 col-lg-8">
  <div class="row">
    <div class="col-xl-12">

      <section id="not-found" class="center">
        <h2>404 <i class="icon-line-awesome-question-circle"></i></h2>
        <p>We're sorry,the thing you were looking for doesn't exist</p>
      </section>

      <div class="row">
        <div class="col-xl-8 offset-xl-2">
            <div class="intro-banner-search-form not-found-search margin-bottom-50">


              <div class="intro-search-button">
                <button routerLink="/home" class="button ripple-effect">Go to Home</button>
              </div>
            </div>
        </div>
      </div>

    </div>
  </div>
</div>
