.dashboard-box {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: background-color 0.3s ease-in-out;
}
.headline h3 {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
}

.content {
  margin-top: 20px;
}

section{
  width: 80%;
  margin: 7% auto;
}

.submit-field h5 {
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0;
}

.with-border {
  border: none !important;
  border-bottom: 3px solid #43CC87 !important;
  outline: none !important;
  padding: 8px;
  font-size: 14px;

}



.profile-pic {

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 200px;
  height: 200px;
  border: none;
  border-radius: 50%;
}
.edit-image-label {
  display: block;
  position: relative;
  cursor: pointer;
}

.edit-image-label:hover .profile-pic {
  filter: brightness(80%);
}

.edit-image-label:active .profile-pic {
  filter: brightness(70%);
}

.edit-image-input {
  display: none;
}

button {
  width: 50%;
  display: inline-block;
  padding: 12px 24px;
  background:linear-gradient(45deg,#04b25c, #1eec00);
  color: #FFFFFF;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 34px;
}
