<section id="subscribe">

  <div class="container">
		<div class="row">

			<div class="col-xl-12">
				<!-- Section Headline -->
				<div class="text-center mb-4 ">
					<h1>Membership Plans</h1>
				</div>

			</div>


			<div class="mt-4 col-xl-12">

				<!-- Pricing Plans Container -->
				<div class="pricing-plans-container">

					<!-- Plan -->
					<div class="pricing-plan">
						<h3>Dew Dropper</h3>
						<p class="margin-top-10">One time fee for one listing or task highlighted in search results.</p>
						<div class="pricing-plan-label billed-monthly-label"><strong>$19.99</strong>/ monthly</div>
						<div class="pricing-plan-features">
							<strong>Features of Basic Plan</strong>
							<ul class="tick-list">
								<li>3 Jobs Listing</li>
								<li>30 Days Visibility</li>
								<li>Highlighted in Search Results</li>
							</ul>
						</div>
						<button (click)="subscription('NORMAL')" class="mt-4 btn btn-outline-success">Buy Now</button>
					</div>

					<!-- Plan -->
					<div class="pricing-plan recommended">
						<div class="recommended-badge">Recommended</div>
						<h3>Sprinkle Starter</h3>
						<p class="margin-top-10">One time fee for one listing or task highlighted in search results.</p>
						<div class="pricing-plan-label billed-monthly-label"><strong class="recommended-price">$49.99</strong>/ monthly</div>
						<div class="pricing-plan-features">
							<strong>Features of Standard Plan</strong>
							<ul class="tick-list">
								<li>6 Listings</li>
								<li>30 Days Visibility</li>
								<li>Highlighted in Search Results</li>
							</ul>
						</div>
						<button (click)="subscription('EXPERT')"  class="mt-4 btn btn-success">Buy Now</button>
					</div>

					<!-- Plan -->
					<div class="pricing-plan">
						<h3>Rain maker</h3>
						<p class="margin-top-10">One time fee for one listing or task highlighted in search results.</p>
						<div class="pricing-plan-label billed-monthly-label"><strong>$99.99</strong>/ monthly</div>
						<div class="pricing-plan-features">
							<strong>Features of Extended Plan</strong>
							<ul class="tick-list">
								<li>12 Listings Listing</li>
								<li>30 Days Visibility</li>
								<li>Highlighted in Search Results</li>
							</ul>
						</div>
						<button (click)="subscription('PRO')"  class="mt-4 btn btn-outline-success" >Buy Now</button>
					</div>
				</div>

			</div>

		</div>
	</div>
</section>
