<section class="about-us margin-top">
  <div class="row">
    <div class="col-12">
      <img src="assets/images/About-us.jpg" alt="About us">
    </div>
    <div class="col-12 p-3">
      <h1 class="text-center m-3 fw-bold">About Us</h1>
      <p class="px-2 lh-2 text-align-justify">
        You shouldn’t have to pay a fortune for legal services, especially when there are so many good lawyers willing to take on basic matters at reasonable flat rates. That’s why we built LawTasks.pro, a first-of-its-kind competitive online marketplace where qualified attorneys offer commonly-requested legal services (LawTasks) on a flat-rate, “buy-now” basis.  At LawTasks.pro, clients can find and hire an attorney based on price, user ratings, and profile information, communicate privately with their attorney, and safely pay for completed LawTasks all on our secure platform.</p>
      <br>
      <p>
        So don’t try to go it alone with one of those DIY legal sites. Start working with a real attorney at LawTasks.pro today, and get it right the first time!
      </p>
    </div>
  </div>
</section>
