

html{
  scroll-behavior: smooth;
}

body {
  overflow-x:hidden !important;
  margin: 0;
  padding: 0;
  width:100%;
  font-family: Poppins, sans-serif;
  color: #666;
  background: #fff;
}
.sticky{
  position: sticky;
  top:0;
  left: 0;
  z-index: 99999999;
}
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
	/* Headlines */
	h1, h2, h3, h4, h5, h6 {
		color: #333;
		font-weight: 500;
		margin: 0;
		padding: 0;
	}


a{
  text-decoration: none;
  color:black;
}
a:hover{
  color:black;
}

