<section class="container-fluid margin-top">

    <div class="row">
      <div class="col-md-8">
        <h1>With Draw</h1>
        <form >
          <div class="flex flex-column">
            <label htmlFor="username">Amount</label>
            <input
            type="number"
              id="amount"
              name="amount"
              placeholder="0"
              [(ngModel)]="amount"
              #amountWith="ngModel"
              [required]="true"
            />
            <small id="jobname-help">Enter Amount to WithDraw.</small>
          </div>
          <div
            *ngIf="amountWith.invalid && amountWith.touched"
            class="error-message"
          >
            Amount is Required
          </div>
          <div *ngIf="amountWith.value<=49" class="error-message">Amount must be at least 50.</div>
          <div *ngIf="amountWith.value>=userInfo?.revenue" class="error-message">
            Amount cannot exceed {{ userInfo ? userInfo.revenue : 'unknown' }}.
          </div>

          <div class="flex flex-column">
            <label htmlFor="reason">Reason</label>
            <div class="input-group mb-3">
              <textarea
                [required]="true"
                col="10"
                row="3"
                name="reason"
                type="text"
                class="form-control"
                aria-label="reason"
                [(ngModel)]="reason"
                #reasonOF="ngModel"
              ></textarea>
            </div>
            <small id="jobname-help">Enter your Reason.</small>
          </div>

          <div
            *ngIf="reasonOF.invalid && reasonOF.touched"
            class="error-message"
          >
            Reason is Required
          </div>
          <button class="btn btn-success" (click)="forwardRequest(amountWith.value,reasonOF.value)">
            Submit
          </button>
        </form>
      </div>


      <div class="col-md-4">
        <div class="boxed-widget summary">
          <div class="boxed-widget-headline">
            <h3>Summary</h3>
          </div>
          <div class="boxed-widget-inner">
            <ul>
              <li>Total Balance <span>{{userInfo?.revenue | currency: 'USD'}}</span></li>
              <li>Minimium With Draw <span> $50.0</span></li>
              <li class="total-costs">After Withdraw <span> {{userInfo?.revenue - amount | currency:'USD'}}</span></li>
            </ul>
          </div>
        </div>
        <div class="boxed-widget summary history">
          <div class="boxed-widget-headline">
            <h3>With History</h3>
          </div>
          <ng-container *ngFor="let withdraw of withDraws">
            <div class="boxed-widget-inner">
              <ul>
                <li>With Draw Amount <span>{{withdraw.amount | currency: 'USD'}}</span></li>
                <li>Reason : <p>{{withdraw.reason}}</p></li>
                <li>Status <p-tag [value]="getStatus(withdraw.status)" [severity]="getSeverity(withdraw.status)" ></p-tag></li>
              </ul>
            </div>
          </ng-container>

        </div>
      </div>

    </div>
</section>
