<ng-container *ngIf="showSubscription == false; else unsubscribed">
  <div class="container-fluid mt-sm-3 mt-md-5">
    <p-toast position="bottom-right"></p-toast>
    <div class="row">
      <div class="col-md-8 offset-md-2 mt-sm-3 mt-md-5">
        <p-toolbar styleClass="mt-md-5 gap-2">
          <ng-template pTemplate="left">
            <button
              pButton
              pRipple
              label="New"
              icon="pi pi-plus"
              class="p-button-raised  p-button-success"
              (click)="showDialog()"
            ></button>

            <span class="job-number mx-5"> Max Jobs: {{maxJobs}} Jobs Left: {{leftJobs}}</span>
          </ng-template>
        </p-toolbar>

        <p-table
          #dt
          styleClass="p-datatable-gridlines"
          [value]="jobs"
          [rows]="5"
          [paginator]="true"
          [globalFilterFields]="['jobName', 'jobType', 'description', 'status','category.name']"
          [rowHover]="true"
          dataKey="id"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          [showCurrentPageReport]="true"
        >
          <ng-template pTemplate="caption">
            <input
              pInputText
              type="text"
              (input)="dt.filterGlobal($event.target['value'], 'contains')"
              placeholder="Search..."
            />
          </ng-template>
          <ng-template pTemplate="header">
            <tr>

              <th pSortableColumn="jobName" style="width: 10rem">
                Title <p-sortIcon field="jobName"></p-sortIcon>
              </th>
              <th style="width: 10rem">Image</th>
              <th pSortableColumn="jobPrice" style="width: 5rem">
                Price <p-sortIcon field="jobPrice"></p-sortIcon>
              </th>
              <th pSortableColumn="jobType" style="width: 5rem">
                Type <p-sortIcon field="jobType"></p-sortIcon>
              </th>
              <th>Category</th>
              <th style="width: 13rem">Description</th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-job>
            <tr>
              <td>{{ job.jobName }}</td>
              <td>
                <img
                  src="data:image/jpeg; base64, {{ job.jobImage }}"
                  alt="job image"
                  width="50"
                  class="shadow-4"
                />
              </td>
              <td>{{ job.jobPrice | currency : "USD" }}</td>
              <td>{{job.jobType}}</td>
              <td>{{job.category?.name}}</td>
              <td>{{ job.description }}</td>
              <td >
                <!-- <button class="btn btn-danger mx-3"><i class="fa-solid fa-trash"></i></button> -->
                <button (click)="editJobDialog(job)" class="btn btn-warning"><i class="fa-solid fa-pen" style="color:#fff;"></i></button>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
              In total there are {{ jobs ? jobs.length : 0 }} products.
            </div>
          </ng-template>
        </p-table>
        <p-dialog
          [(visible)]="displayDialog"
          header="Post New Job"
          [modal]="true"
          styleClass="dialog-style"
          style="z-index:  9999999990;"
        >
          <ng-template pTemplate="body">
            <app-add-job (jobAdded)="hideDialog()"></app-add-job>
          </ng-template>
        </p-dialog>
        <p-dialog
        [(visible)]="editDialog"
        header="Edit Job"
        [modal]="true"
        styleClass="dialog-style"
        style="z-index:  9999999990;"
      >
        <ng-template pTemplate="body">
          <form  #orderForm="ngForm" (ngSubmit)="editSubmit()">
            <div class="input-with-icon-left">
                <i class="fa-solid fa-user-tie"></i>
                <input
                  type="text"
                  name="jobName"
                  class="input-text with-border"
                  [(ngModel)]="editJob.jobName"
                  #jobName="ngModel"
                  id="jobName"
                  required="true"
                />
            </div>
            <div
                *ngIf="jobName.invalid && jobName.touched"
                class="error-message"
            >
                Job Name is required
            </div>
            <div class="input-with-icon-left">
                <i class="fa-solid fa-envelope"></i>
                <input
                  type="number"
                  name="price"
                  class="input-text with-border"
                  [(ngModel)]="editJob.jobPrice"
                  #price="ngModel"
                  id="price"
                  required="true"
                />
            </div>
            <div
                *ngIf="price.invalid && price.touched"
                class="error-message"
            >
                Price is required
            </div>
            <div class="input-with-icon-left">
              <i class="fa-solid fa-dollar-sign"></i>
                <p-selectButton [options]="stateOptions" name="option" [(ngModel)]="editJob.jobType" #jobType="ngModel" required="true" optionLabel="label" optionValue="value"></p-selectButton>
            </div>
            <div
                *ngIf="jobType.invalid && jobType.touched"
                class="error-message"
            >
                Job Type is required
            </div>
            <div class="input-with-icon-left">
              <textarea
              name="description"
              cols="10"
              placeholder="Message"
              [(ngModel)]="editJob.description"
              #description="ngModel"
              class="with-border"
              required="true"
          ></textarea>
            </div>

            <div
                *ngIf="description.invalid && description.touched"
                class="error-message"
            >
                description is required
            </div>

            <!-- Button -->
            <button
              class="btn btn-success margin-top-35 full-width button-sliding-icon ripple-effect"
              type="submit"
              [disabled]="orderForm.invalid"
            >
              Make an Offer
              <i class="icon-material-outline-arrow-right-alt"></i>
            </button>
        </form>
        </ng-template>
      </p-dialog>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #unsubscribed>
  <div class="container-fluid position">
    <h1>
      You are selected as a seller please choose following subscription to start
      your work.
    </h1>
    <div class="mb-5">
      <shared-subscriptioncard></shared-subscriptioncard>
    </div>

  </div>

</ng-template>
