.position{
  position: relative;
  top:12%;
}

@media (max-width: 991.98px) {  /* Medium screens and below */
  .position {
    top: initial;  /* Reset the top value for medium screens and below */
  }
}
.headline {
  font-size: 30px;
  color: black;
  font-family: "Times New Roman", Times, serif;
}
.headline-sec i {
  font-size: 20px;
}
.index{
  z-index: 9999999999;
}
.headline-sec {
  font-size: 23px;
  color: #000;
  font-family: "Times New Roman", Times, serif;
}
.job-details {
  margin: 5px;
  padding: 5px;
  border-bottom: 2px solid #e1e1e1;
}
.job-title {
  margin: 5px;
  padding: 10px;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
}

.job-number{
  font-weight: 900;
  font-size:20px;
  color:#fff;
}
/* prime components */

::ng-deep .p-toolbar {
  background-color: #22c55e;
  box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.4);
}

::ng-deep .p-datatable .p-datatable-thead > tr > th {

  font-weight: bolder;
  background-color: #22c55e;
  color: #fff;
}
::ng-deep .p-datatable .p-sortable-column .p-sortable-column-icon {
  color: #fff;
}
::ng-deep .p-dialog{
  top:10%;
}
::ng-deep .p-datatable{
  box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.4);
}
.error-message{
  color:red;
}
input,textarea{
  border:1px solid #000  ;
  outline:#000 ;
}

::ng-deep .p-selectbutton .p-button.p-highlight{
  background-color: #22C55E;
}
::ng-deep .p-selectbutton .p-button.p-highlight {
  background: #22C55E;
  border-color: #22C55E;
  color: #ffffff;
}
::ng-deep .p-selectbutton .p-button.p-highlight:hover {
  background: #22C55E;
  border-color: #22C55E;
  color: #ffffff;
}
::ng-deep .p-button:focus {
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #22C55E, 0 1px 2px 0 black;
}

form div {
  margin-top:2rem;
}
