<section id="approved-request">
  <div class="row text-center">
    <h3 class="heading p-3 m-3">Request for seller</h3>
  </div>
  <div class="row offset-md-1">
    <p-toast position="bottom-right"></p-toast>
    <div class="col-md-9">
      <p-table
        #dt
        [value]="sellerRequests"
        [rowHover]="true"
        [rows]="5"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[5, 10, 25]"
        [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [filterDelay]="0"

        [globalFilterFields]="['firstName', 'lastName','location','jobName']"
      >
        <ng-template pTemplate="caption">
          <div class="table-header">
            <h2>List of Sellers</h2>
              <input
                pInputText
                type="text"
                (input)="dt.filterGlobal($event.target['value'], 'contains')"
                placeholder="Global Search"
              />

          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="firstName" >
              <div class="flex justify-content-between align-items-center">
                First Name
                <p-sortIcon field="firstName"></p-sortIcon>
              </div>

            </th>
            <th pSortableColumn="lastName">
              <div class="flex justify-content-between align-items-center">
                Last Name
                <p-sortIcon field="lastName"></p-sortIcon>

              </div>
            </th>

            <th pSortableColumn="location">
              <div class="flex justify-content-between align-items-center">
                Location
                <p-sortIcon field="location"></p-sortIcon>

              </div>
            </th>
            <th pSortableColumn="jobName">
              <div class="flex justify-content-between align-items-center">
                Job Name
                <p-sortIcon field="jobName"></p-sortIcon>

              </div>
            </th>
            <th style="width: 5rem">Action</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-seller>
          <tr class="p-selectable-row">
            <td>
              {{ seller.firstName }}
            </td>
            <td>
              {{ seller.lastName }}
            </td>
            <td>
              {{ seller.location }}
            </td>
            <td>{{seller.jobName}}</td>
            <td style="text-align: center">
              <button
              routerLink="/admin-dashboard/request-approval-detail/{{
                seller.sellerId
              }}"
              class="btn"
            >
              Detail
            </button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="8" class="error">No customers found.</td>
          </tr>
        </ng-template>
      </p-table>

    </div>
  </div>
</section>
